<a href="#/" class="btn btn-default">Paluu hakutuloksiin</a>
<a href="#/edit/{{id}}" class="btn btn-default">Muokkaa ilmoitusta</a>
<a href="#/delete" class="btn btn-default" ng-click="delete()">Poista ilmoitus</a>
<br><br>

<table class="table table-bordered showAdTable">
    <col class="column-one">
    <col class="column-two">
    <tr>
        <td>Otsikko:</td>
        <td>{{add.title}}</td>
    </tr>
    <tr>
        <td>Kuvaus:</td>
        <td>{{add.description}}</td>
    </tr>
    <tr>
        <td>Hinta:</td>
        <td>{{add.priceCents/100 | currency:"\u20ac"}}</td>
    </tr>
    <tr>
        <td>Kuva:</td>
        <td><img src="{{add.imageUrl}}" width="30%"></td>
    </tr>
    <tr>
        <td>Sähköposti:</td>
        <td>{{add.email}}</td>
    </tr>
    <tr>
        <td>Puhelin</td>
        <td>{{add.phone}}</td>
    </tr>
</table>

