<a href="#/" class="btn btn-default">Paluu hakutuloksiin</a>
<br><br>

<H2>Ilmoituksen luonti / muokkaus</H2>


<form name="editForm" class="editForm">

    <table class="table table-bordered">
        <col class="column-one">
        <col class="column-two">
        <tr>
            <td class="title">Otsikko:</td>
            <td>
                <span class="error" ng-show="editForm.title.$error.required">Pakollinen tieto. <br/></span>
                <input ng-model="add.title" name="title" required>
            </td>
        </tr>
        <tr>
            <td>Kuvaus:</td>
            <td>
                <span class="error" ng-show="editForm.description.$error.required">Pakollinen tieto. <br/></span>
                <input ng-model="add.description" name="description" required>
            </td>
        </tr>
        <tr>
            <td>Hinta (sentteinä):</td>
            <td>
                <span class="error" ng-show="editForm.priceCents.$error.required">Pakollinen tieto. <br/></span>
                <span class="error" ng-show="editForm.priceCents.$error.number">Hinnan tulee olla luku. <br/></span>
                <input ng-model="add.priceCents" name="priceCents" type="number" required>
            </td>
        </tr>
        <tr>
            <td>Kuva:</td>
            <td>
                <img src="{{add.imageUrl}}" width="30%">
            </td>
        </tr>
        <tr>
            <td>KuvaURL:</td>
            <td>
                <input ng-model="add.imageUrl"  name="iamgeUrl" />
            </td>
        </tr>
        <tr>
            <td>Sähköposti:</td>
            <td>
                <span class="error" ng-show="editForm.email.$error.required">Pakollinen tieto. <br/></span>
                <span class="error" ng-show="editForm.email.$error.email">Syötä oikeanmuotoinen sähköpostiosoite.  <br/></span>
                <input ng-model="add.email" name="email" type="email" required>
            </td>
        </tr>
        <tr>
            <td>Puhelin</td>
            <td>
                <span class="error" ng-show="editForm.phone.$error.required">Pakollinen tieto. <br/></span>
                <input ng-model="add.phone" name="phone" required>
            </td>
        </tr>
    </table>

    <br>
    <a href="#/saved" class="btn btn-default" ng-click="save()">Tallenna</a>

</form>
