HAKU:<input type="text" ng-model="$parent.searchWord" class="search-query" id="search-query"
            placeholder="Syötä hakuteksti tähän">

<a href="" class="btn btn-danger" ng-click="refresh()">Päivitä lista</a>
<a href="#/new" class="btn btn-primary" ng-click="">Luo uusi ilmoitus</a>

<br>JÄRJESTYS:
<a href="" class="btn btn-default" ng-click="predicate = 'priceCents'; reverse=false">Halvin ensin</a>
<a href="" class="btn btn-default" ng-click="predicate = 'priceCents'; reverse=true">Kallein ensin</a>
<a href="" class="btn btn-default" ng-click="predicate = 'title'; reverse=false">(A -> Ö)</a>
<a href="" class="btn btn-default" ng-click="predicate = 'title'; reverse=true">(Ö -> A)</a>

<br><br>

<table class="table table-bordered">
    <tr>
        <th>Kuva</th>
        <th>Myyntikohde</th>
        <th>Hinta</th>
    </tr>

    <tr ng-repeat="item in searchResult | filter:searchWord | orderBy:predicate:reverse">

        <td align="center">
            <a href="#/show/{{item.id}}">
                <img src="{{item.thumbnailUrl}}" alt="" height="40px" />
            </a>
        </td>
        <td>
            <a href="#/show/{{item.id}}">{{item.title}}</a><br>
            {{item.description}}
        </td>
        <td  align="right">
            {{item.priceCents/100 | currency:"\u20ac"}}
        </td>
    </tr>
</table>

